<section class="home d-flex align-items-center" id="home">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="text-center">
                    <div>
                        <img src="assets/avataaars.svg" class="home-img" alt="">
                    </div>
                    <h2 class="my-3">START FRAMEWORK</h2>
                    <div class="icon-line position-relative mb-3">
                        <i class="fa-solid fa-star fa-xl my-2 ">
                        </i>
                    </div>
                    <p>Graphic Artist - Web Designer - Illustrator</p>
                </div>
            </div>
        </div>
    </div>
</section>